.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 45%;
    margin-right: 45%;
    background-color: rgb(35, 52, 87);
    margin-top: 20px;
       
}
.showproject{
    display: flex;
    border: 5px solid;
    height: 400px;
    width: 400px;
   justify-content: center;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 20px;
}